*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    
}

html, body { height: 100%; width: 100%;  }


body { 
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: slategray;
  } 

  main { 
    flex: 1 0 auto; 
    
  } 
.div-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
  
}

.div-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
}

.div-header,.div-title,.div-main{
    font-family: 'Open Sans', sans-serif;
    background-color: #F23A00;
}
 .navigation li  {
    height: 100%;
    display: table;
    float : left;
    padding : 20px;
    
}

.navigation li a  {
   color:black;
}

.logo{
    width: 90%;
    height: 90%;
}
.navigation button {
    width: 100px;
    height: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    background: white;
    background-color:#FD764B; /* Green */
    border: none;
    color: black;
    border-radius: 5px;
}

.container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url("background2.svg");
  background-size: cover;
}
.parentdiv{
    background-color: #F23A00;
    text-align: center;
    margin:5px
}
.maindiv-header{
    text-align: center;
    margin: 5px;
}
#scroll-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow:scroll;
    background: linear-gradient(to right,#FD764B 75%, slategrey 100%);  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 400px;
    margin: 10px;
}
.image-container{
    margin: 15px;
    background-color: #F23A00;
    padding: 15px;
    border-radius: 5px;
    width: 250px;
    height: 325px;
}


.img{
    width: 250px;
    height: 250px;
    border-radius: 5px;
}

 
.footer {
    font-weight: lighter;
    font-size: 10px;
    text-align: center;
    background-color:#F23A00;
    color: white;
    padding: 15px;
   
}
.footer a{
    color: black;
}

span{
    color: blue;
}

h1{
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
  font-weight:Bold;
  color: white;
}
h2{
  font-family: 'Open Sans', sans-serif;
  font-size:14px;
  font-weight:Bold;
  color: white;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
}
#scroll-container a{
  color:black;
  font-weight: Bold;
  font-family: 'Open Sans', sans-serif;
}
a{
  font-family: 'Open Sans', sans-serif;
}
button{
  width: 100px;
  height: 30px;
  font-size: 11px;
  color: white;
  background-color: gray;
  font-family: 'Open Sans', sans-serif;
}