*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html, body { height: 100%; width: 100%;  }



body { 
    display: flex; 
    flex-direction: column; 
    background-color: slategrey;
  } 

  main { 
    flex: 1 0 auto; 
    
  } 

.div-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
  
}

.div-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    margin: 5px;
}

.div-header,.div-title,.div-main{
    font-family: 'Open Sans', sans-serif;
    background-color: #F23A00;
}
 .navigation li  {
    height: 100%;
    display: table;
    float : left;
    padding : 20px;
    
}

.navigation li a  {
   color:black;
}

.logo{
    width: 90%;
    height: 90%;
}
.navigation button {
    width: 100px;
    height: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    background: white;
    background-color:#FD764B; /* Green */
    border: none;
    color: black;
    display: table-cell;;
}



.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:slategrey;
    height: 100%;
    background-image: url("background2.svg");
    background-size: cover;
}

.description  {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #FD764B;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 700px;
    height: 600px;
    margin-right: 10px;
}
.description .des-header,.des-main,.des-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:  #FD764B;;
    align-items: center;
   
}


.image{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  width: 700px;
  height:600px;
  margin-left: 10px;
  overflow:scroll;
}
.img{
    width: 700px;
    height:600px;
}


main button{
    width: 100px;
    height: 30px;
    margin: 15px;
    font-size: 11px;
    color: white;
    background-color: gray;
    
}
.footer {
    font-size: 10px;
    text-align: center;
    padding: 15px ;
    background-color:#F23A00;
    font-family: 'Open Sans', sans-serif;

  }
.footer a{
    color: black;

  }

 span{
      color: blue;
  }

h1{
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    font-weight:Bold;
}
h2{
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    font-weight:Bold;
}
 
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}
a{
    color: blue;
}
