*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    
}

html, body { height: 100%; width: 100%;  }


body { 
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: slategray;
  } 

  main { 
    flex: 1 0 auto; 
    
  } 
.div-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
  
}

.div-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    margin: 5px;
}

.div-header,.div-title,.div-main{
    font-family: 'Open Sans', sans-serif;
    background-color: #F23A00;
}
 .navigation li  {
    height: 100%;
    display: table;
    float : left;
    padding : 20px;
    
}

.navigation li a  {
   color:black;
}

.logo{
    width: 90%;
    height: 90%;
}
.navigation button {
    width: 100px;
    height: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    background: white;
    background-color:#FD764B; /* Green */
    border: none;
    color: black;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("background2.svg");
    background-size: cover;

}

#myform{
    margin: 15px;
}

.mydiv-header{
    padding: 25px;
    background: linear-gradient(to right,#FD764B 75%, slategrey 100%);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.div-body {
  
    text-align: center;
    padding: 15px ;
    color: #666;
    background-color:#F23A00 ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.center .left input{
    width:90%;
    height:25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.div-footer {
    text-align: center;
    padding: 25px ;
    background-color:#F23A00;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.div-footer button {
    width: 100px;
    height: 30px;
    margin: 3px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.footer {
    font-size: 10px;
    text-align: center;
    padding: 15px ;
    background-color:#F23A00;
    font-family: 'Open Sans', sans-serif;

  }
.footer a{
    color: black;

  }

  span{
      color: blue;
  }

h1{
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    font-weight:Bold;
}
h2{
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    font-weight:Bold;
}
 
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}
a{
    color: blue;
}
button{
    width: 100px;
    height: 30px;
    margin: 3px; 
    font-size: 11px;
    color: white;
    background-color: gray;
    font-family: 'Open Sans', sans-serif;
}