*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html, body { height: 100%; width: 100%;  }



body { 
    display: flex; 
    flex-direction: column; 
    background-color: slategrey;
  } 

  main { 
    flex: 1 0 auto; 
    
  } 


  .div-header{
    display: grid;
    height: 65px;
    grid-template-columns: 825px 700px;
    grid-template-rows: 70px;
    justify-content: end;
    align-items: center;
}
.div-header .div-title{
    display: grid;
    align-items: center;
}

.div-header .div-main{
    display: grid;
    background-color:#F23A00;
    align-items: center;
    justify-content:end;

}
 .navigation li  {
    height: 100%;
    display: table;
    float : left;
    padding : 20px;
}

.navigation li a  {
   color:black;
    
}
.div-header ,.div-main, .div-header{
    font-family: 'Open Sans', sans-serif;
    background-color: #F23A00;
}

.div-header span{
    font-size: 19px;  
}

.logo{
    height: 100%;
    width: 25%;
}
.navigation button {
    width: 100px;
    height: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    background: white;
    background-color:#FD764B; /* Green */
    border: none;
    color: black;
    display: table-cell;;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  slategrey;
    flex-direction: column;
    height:100%;
    width:100%;
   
  }

  .maindiv-header{
    text-align: center;
    margin: 5px;
  }
.scroll-container{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 150px 150x 150px;
    background-color: blue;
    column-gap: 2px;
    row-gap: 2px;
    overflow:scroll;
    height:500px;
    width:1200px;
    margin: 15px;
    background: linear-gradient(to right,#FD764B 75%, slategrey 100%);  
    margin-top: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.image-container{
    margin: 5px;
}
.img{
    width: 200px;
    height: 150px;
    float: left;
    margin-right: 5px;
    border-radius: 5px;
}

 
.footer {
    margin-top: 1px;
    font-weight: lighter;
    font-size: 10px;
    text-align: center;
    background-color:#F23A00;
    color: white;
    padding: 15px;
   
}
.footer a{
    color: black;
}

h1{
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    font-weight:Bold;
}
h2{
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    font-weight:Bold;
    color: black;

}
 
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}
a{
    color: blue;
}

span{
    color: blue;
}

.container hr{
    width: 100%;
}