*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html, body { height: 100%; width: 100%;  }



body { 
    display: flex; 
    min-height: 100vh; 
    flex-direction: column; 
    background-color: slategrey;
  } 

  main { 
    flex: 1 0 auto; 
    
  } 

 .div-header{
    display: grid;
    height: 65px;
    grid-template-columns: 825px 700px;
    grid-template-rows: 70px;
    justify-content: end;
    align-items: center;

}
.div-header .div-title{
    display: grid;
    align-items: center;
}

.div-header .div-main{
    display: grid;
    background-color:#F23A00;
    align-items: center;
    justify-content:end;

}
 .navigation li  {
    height: 100%;
    display: table;
    float : left;
    padding : 20px;
    
}

.navigation li a  {
   color:black;
    
}
.div-header ,.div-main, .div-header{
    font-family: 'Open Sans', sans-serif;
    background-color: #F23A00;
  
}

.div-header span{
    font-size: 19px;
    
}

.logo{
    height: 100%;
    width: 25%;
}
.navigation button {
    width: 100px;
    height: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    background: white;
    background-color:#FD764B; /* Green */
    border: none;
    color: black;
    display: table-cell;;
}


.container{
    display: grid;
    width:100% ;
    height: 100%;
    justify-content: center;
    background:  slategrey ; 
}

.container .section{
    width: 800px;
    height: 245px;
    background-color: #FD764B;
}

.one-section{
    margin-top: 15px;
    text-align: center;
    width: 800px;
    background-color:#FD764B;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top:20px;
    padding-bottom: 20px;
}


.one-section input{

    width: 40%;
    height: 28px;
 
}


.container .section {
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container .section h1{
    margin: 15px;

}
.div-images{
    display: grid;
    grid-template-columns: 150px 150px 150px;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 70%;
    background-color: #FD764B;

}

.image{
    width: 130px ;
    height: 150px ;
    border-radius: 5px;
}
.div-main{
    display: grid;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 70%;
    background-color:#FD764B;
}
.tres {
    margin-bottom: 15px;
}
.containerslide{
    margin-top: 10px;
    text-align: center;
    background-color:#FD764B;
    width: 400px;
    
    
  }
  
  ul, li {
      padding: 0;
      margin: 0;
      list-style:none;
  }
  
  ul.slider{
    position: relative;
    width: 400px;
    height: 135px;
  }
  
  ul.slider li {
      position: absolute;
      left: 0px;
      top: 0px;
      opacity: 0;
      width: inherit;
      height: inherit;
      transition: opacity .5s;
      background:#FD764B;
  }
  
  ul.slider li img{
    width:90%;
    height: 140px;
    padding-top:10px;
    object-fit: cover;
    
  }
  
  ul.slider li:first-child {
      opacity: 1; /*Mostramos el primer <li>*/
  }
  
  ul.slider li:target {
      opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
  }
  
  .menu{
    text-align: center;
    margin: 20px;
  }
  
  .menu li{
    display: inline-block;
    text-align: center;
  }
  
  .menu li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: grey;
    padding: 10px;
    width: 10px;
    height: 10px;
    font-size: 10px;
    border-radius: 100%;
  }


 
.footer {
   
    margin-top: 1px;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    text-align: center;
    padding: 15px;
    background-color:#F23A00;
 

  }
.footer a{
    font-family: 'Open Sans', sans-serif;
    color: black;

  }


h1{
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    font-weight:Bold;
}
h2{
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    font-weight:Bold;
}
 
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    Padding: 10px;
}

button{
    width: 20%;
    height: 30px;
    font-size: 11px;
    color: white;
    background-color: gray;
    font-family: 'Open Sans', sans-serif;
}
