*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html, body { height: 100%; width: 100%;  }



body { 
    display: flex; 
    min-height: 100vh; 
    flex-direction: column; 
    background-color: slategrey;
  } 

  main { 
    flex: 1 0 auto; 
    
  } 

.div-header{
    display: grid;
    height: 65px;
    grid-template-columns: 825px 700px;
    grid-template-rows: 70px;
    justify-content: end;
    align-items: center;

}
.div-header .div-title{
    display: grid;
    align-items: center;
}

.div-header .div-main{
    display: grid;
    background-color:#F23A00;
    align-items: center;
    justify-content:end;

}
 .navigation li  {
    height: 100%;
    display: table;
    float : left;
    padding : 20px;
    
}

.navigation li a  {
   color:black;
    
}
.div-header ,.div-main, .div-header{
    font-family: 'Open Sans', sans-serif;
    background-color: #F23A00;
  
}

.div-header span{
    font-size: 19px;
    
}

.logo{
    height: 100%;
    width: 25%;
}
.navigation button {
    width: 100px;
    height: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    background: white;
    background-color:#FD764B; /* Green */
    border: none;
    color: black;
    display: table-cell;
}
.container{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color:  slategrey;
    height:100%;
    width:100%;
    
}

.myform{
    width: 800px;
}
.myform button{
    width: 25%;
    height: 30px; 
}
.maindiv-header{
    padding: 25px;
    padding-left: 200px;
    padding-right: 200px;
    background: linear-gradient(to right,#FD764B 75%, slategrey 100%);
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.div-body {
    display: grid;
    align-content: center;;
    color: #666;
    background-color:#F23A00 ;
    padding: 35px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.two-inputs input{
    width:45.5%;
    height:25px;
}

.one-input input{
    width:95%;
    height:25px;
   
}
input{
    margin:10px;
}
.cb{
    width:46%;
    height:28px;
    margin:10px;
}   

.div-footer {
    padding-bottom: 25px;
    background-color:#F23A00;  
    text-align: center;
    
}
.div-footer  h2 {
    text-align: start;
    margin-left:10px;
}

.div-footer button {
    width: 100px;
    height: 30px;
    margin: 3px; 
    font-size: 11px;
    background-color: gray;
    color: white;
}

.div-footer hr {
    margin-bottom: 10px;   
}

.div-footer button {
    margin-top: 20px;
}

.footer {
    margin-top: 1px;
    font-weight: lighter;
    font-size: 10px;
    text-align: center;
    padding: 15px ;
    background-color:#F23A00;
    font-family: 'Open Sans', sans-serif;
   
  }
.footer a{
    font-family: 'Open Sans', sans-serif;
    color: black;
  }

  span{
    color: blue;
}

h1{
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    font-weight:Bold;
}
h2{
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    font-weight:Bold;
    color: black;
}
 
p {
    
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}
a{
    font-family: 'Open Sans', sans-serif;
    color: blue;
}