.parent{
  display: flex;
  flex-direction: column;
  height: 900px;
  justify-content:center;
  align-items: center;

    
}

.child1{
  display: flex;
  justify-content: center;
  align-items: center;
    
}

.child2{
 
  display: flex;
  justify-content: center;
  align-items: center;

    
}
.boton{
  font-size: 10px;
  width: 140px;
  height: 30px;
  background-color:deepskyblue;
  border-radius: 20px;
  color: white;
  border: none

}


.childchild {
     position: relative;  
}


.image1 {
     position: relative;
}

.image2 {
     position: absolute;
     top: 30px;
     left: 70px;
     
}
.image3{
 position:absolute;
 top: 300px;
 right:-50px;
   
}
.image4{
 position:absolute;
 top: 900px;
 right:620px;
   
}

#first::first-line{
  color: red;
}